{% extends 'base.html.twig' %}

{% block body %}

    <article class="post">
        <h1 class="post__title">{{ post.title }}</h1>
        <p class="post__author">Written on {{ post.createdAt|date('d/m/Y') }} by <u>{{ post.author.email|e }}</u> </p>
        <img class="post__img" src="{{ post.coverPic }}" alt="Cover pic" class="cover_pic">
        <p class="post__content">{{ post.content }}</p>
        <a class="button" href="{{ path('home') }}" >Back Home</a>
    </article>

{% endblock %}
    