{% macro card(post) %}
  <a class="card-link" href="{{ path('post', {id: post.id|url_encode} )}}" >
  <div class="card" >
      <img src="{{ post.coverPic }}" class="card__img-top" alt="...">
      <div class="card__body">
        <h2 class="card-title">{{ post.title|e|title }}</h2>
        <p class="card-text">{{ post.content[:100]|e }}... </p>
        <p class="card-footer">Written on {{ post.createdAt|date('d/m/Y') }} by <u>{{ post.author.email|e }}</u> </p>
      </div>    
  </div>
  </a>
  
{% endmacro %}